.App {
  font-family: sans-serif;
  text-align: center;
}

#container {
  width: 540px;
  height: 540px;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;

  #coordinateContainer {
    width: 50px;
    height: 50px;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
  }

  #startStopButton {
    z-index: 99;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 55px;
    height: 55px;
    border-radius: 100%;
    border: none;
    background-color: red;
    transform: translateY(-50%);
    transform: translateX(-50%);
    color: white;
    font-weight: bold;
    font-size: 16px;
  }

  .metadata {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: blue;
    color: white;

    p {
      padding: 0 1rem;
    }
  }
}
